html {
    padding: 0;
    margin: 0;
    font-family: monospace;
    background-color: rgb(80, 80, 80);
}

h1, p {
    text-align: center;
}

h1 {
    font-size: 40px;
    color: rgb(253, 215, 0);
}

p {
    font-size: 20px;
    color: #fff;
}